h2 {
    font-weight: bold;
    font-size: 1.5em;
}
h3 {
    font-weight: bold;
    font-size: 1em;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(30,30,30);
    color: #E6C846;
    padding: 20px 20px;
}

table.relays_table {
    width: 100%;
    padding: 0px 15px;
    border-collapse: separate;
}

.td, .th {
    border-spacing: 0px 15px;
    padding: 0px 15px;
}

div.log {
    width: 900px;
    max-height: 300px;
    overflow: auto;
    padding: 0px 30px;
}

div.topnav {
    margin-top: 0;
    margin-left: 0;
    /* background-color: rgb(30,30,30); */
    font-size: 2.5em;
    margin: auto;
    font-weight: bold;
    padding: 0px 30px;
}

.left{
    font-size: 0.75em;
    align: center;
}

.right {
    float: right;
    padding: 0px 140px;
}

.dropdown {
    padding: 0px 15px;
    position: relative;
    background-color: #E6C846;
    color: black;
}

.dropdown-content {
    font-weight: normal;
    display: none;
    position: relative;
    background-color: #E6C846;
}

.dropdown:hover .dropdown-content {
    display: block;
}

button {
    background-color: #E6C846;
    color: black;
    padding: 0px 30px;
}

.status {
    background-color: #E6C846;
    color: black;
}

div.relay_box {
    background-color: rgb(30,30,30):
    display: inline;
    padding: 0px 30px;
    margin: 10px;
}

div.brain_restarts {
    padding: 0px 30px;
}

span.brain_box {
    background-color: rgb(30,30,30);
    display: inline;
    padding: 0px 30px;
    margin: 10px;
}

input[type="checkbox"] {
    vertical-align: middle;
    padding-left: 15px
}
