h2 {
    font-weight: bold;
    font-size: 1.5em;
}
h3 {
    font-weight: bold;
    font-size: 1em;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(30,30,30);
    color: #E6C846;
    padding: 20px 20px;
}

.relays_table {
    width: 100%;
    max-width: 900px;
    padding: 0px 15px;
    border-collapse: separate;
}

.relay_title{
    font-size: 16pt;
    padding-top: 0.5em;
    padding-bottom: 0.1em;
}

.relay_status{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px 50px 10px 10px;
    text-align: center;
    border-style: solid;
    border-color: rgb(201, 76, 76);
}

.riddle_input{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px 50px 10px 10px;
    text-align: center;
    border-style: solid;
    border-color: #555;
}

.ON_Box{
    background-color: black;
    color: white;
    padding: 10px;
    margin-inline: 20px;
    text-align: center;
    border-style: solid;
    border-color: green;
    width: 25%;
}

.header_box {
    background-color: black;
    color: white;
    padding: 10px;
    margin-inline: 20px;
    text-align: center;
    border-style: solid;
    border-color: green; 
}

td, th {
    border-spacing: 0px 15px;
    padding: 0px 5px;
}

div.log {
    width: 900px;
    max-height: 300px;
    overflow: auto;
    padding: 0px 30px;
}

div.topnav {
    width: 100%;
    overflow: hidden;
    margin-top: 0;
    margin-left: 0;
    /* background-color: rgb(30,30,30); */
    font-size: 2.5em;
    margin: auto;
    font-weight: bold;
    padding: 0px 30px;
}

.left{
    font-size: 0.75em;
    display: table-cell;
    vertical-align: middle;
}

.right {
    font-size: 0.75em;
    float: right;
}

.dropdown {
    padding: 0px 15px;
    position: relative;
    background-color: #E6C846;
    color: black;
}

.dropdown-content {
    font-weight: normal;
    display: none;
    position: relative;
    background-color: #E6C846;
}

.dropdown:hover .dropdown-content {
    font-weight: normal;
    display: block;
}

button {
    background-color: #E6C846;
    font-weight: bold;
    color: black;
    padding: 10px 30px;
}

.button-wrapper {
    text-align:center;
    font-weight: normal;
    display:inline-block;
}

.button-wrapper p{
    font-size: 12pt;
    font-weight: normal;
}

.button-wrapper button{
    width: 100%;
    font-weight: normal;
}
.status {
    background-color: #E6C846;
    color: black;
}

div.relay_box {
    background-color: rgb(30,30,30);
    display: inline;
    padding: 0px 30px;
    margin: 10px;
}

div.brain_restarts {
    padding: 0px 30px;
}

span.brain_box {
    background-color: rgb(30,30,30);
    display: inline;
    padding: 0px 30px;
    margin: 10px;
}

input[type="checkbox"] {
    vertical-align: middle;
    padding-left: 15px
}

.group {
    display: flex;
    align-items: center;
    width: 60%;
}

.group input[type="submit"] {
  width: 25%;
}

#name {
    width: 100%;
    padding-inline: 0px;
    text-align: center;
    border-color: gray;
    color: white;
}

.group input {
  display: block;
  border: 1px solid gray;
  color:white;
  font-size: 14px;
  height: 35px;
  margin-top: 5px;
  padding: 0 8px;
  background-color: black;
  transition: all .23s ease;
}

.group input:focus {
  box-shadow: 0 0 5px 1px gold;
  outline: none;
}
input[type="submit"][hidden] {
  opacity: 0;
  visibility: hidden;
}

input[type="submit"]:hover{
    background-color: transparent;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    margin-inline: 20px;
}

.autocomplete-items {
    color: black;
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }