<div class="topnav" style="display: table;">
    <span class="left">
        STB-Pi-Interface {{ room_name }}
        {% if extended_relays %}
            , full relay access
        {% endif %}
    </span>
    <!--<a class="topnav-right" href="{{ url_for('login') }}">Login</a> -->

    <!-- tehcnically no longer used, keeping it as an example for dropdown -->
    {% if not username %}
    <span class="right">
        <div class="dropdown">Login
            <span class="dropdown-content">
                <form method="POST" action="">
                    <input type="text" name="login" value="Username"><br>
                    <label style="font-weight: normal;">
                        <input type="checkbox" name="extend_relays">
                        Extended relays
                    </label>
                </form>
            </span>
        </div>
    </span>
    {% else %}
        <span class="right">
            <form id="logout_btn" class="button" method="POST" action="">
                <div class="button-wrapper">
                    <p>Hello, {{username}}</p>
                    <button type="submit" name="logout">
                        logout
                    </button>
                </div>
            </form>
        </span>
    {% endif %}


</div>