<td>

    <!-- make into a headline/div
    -->
    <p>{{relay.name}}</p>
    <span>
        <form id="switch_override" method="POST" action="">
            <input type="checkbox"
                   id="relay_{{relay.index}}_override"
                   name="relayOverride_{{relay.index}}"
                   onClick="this.form.submit();">
            <input type="hidden"
                   id="relay_{{relay.index}}_override_hidden"
                   name="relayOverride_{{relay.index}}">
        </form>
    </span>


    <script>
        // update the checkbox values, who thought mixing a bunch of languages is fun
        var box = document.getElementById("relay_{{relay.index}}_override");
        console.log("value of relay is: " + {{relay.mode_frontend}});
        box.checked = {{relay.mode_frontend}};
        console.log(box.checked);
    </script>




        <!--
        <select name="mode" class=relay.mode form="leave">
            <option value="0">auto</option>
            <option value="1">manual</option>
        </select>
        -->
    <script>
        function override_check(form, mode) {
            console.log("override_check")
            console.log("relay mode is: " + mode)
            if (mode) {
                form.form.submit();
            } else {
                alert("Enable the override before setting the status")
            }

        }
        // "this.form.submit();"
    </script>
    <span>
        <form id="switch_relay" method="POST" action="">
            <button class="status" type="button"
                name="relaySetStatus_{{relay.index}}"
                onClick="override_check(this, {{relay.mode_frontend}})"
            >{{relay.status_frontend}}</button>
        <input type="hidden" name="relaySetStatus_{{relay.index}}">
        </form>
    </span>


<td/>