<!DOCTYPE html>
<html lang="en">

<style>
    body {
        background-image: url({{ url_for('static', filename='img/Hintergrund_Standard.jpg') }})
    }
</style>

<head>
    <meta charset="utf-8"/>
    <title>STB-Pi {{ room_name }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- JS code to work with socketIO -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            namespace = '/test';
            var socket = io(namespace);

            socket.emit('serial_buffer_request');

            socket.on('relay_update', function(data, cb) {
                var status_buttons = document.getElementsByClassName("status")
                data.updates.forEach(function (relay_data) {
                    console.log("relay " + relay_data[0] + " has been updated to " + relay_data[1]);
                    status_buttons[relay_data[0]].innerHTML = relay_data[1];
                });

                $('#debug_log').append('<br>' + $('<div/>').text('Received stuff').html());
                // I wonder if i can use CB instead to just reload... for quick'n'dirty

                if (cb)
                    cb();
            });

            socket.on('serial_update', function(data) {
                console.log("received serial lines: ");
                var newline_cnt = data.lines.length;
                var old_lines = $('#serial_log').html().split("<br>");
                old_lines.unshift(data.lines);
                old_lines.length = Math.min(old_lines.length, {{serial_limit}});
                document.getElementById("serial_log").innerHTML = old_lines.join("<br/>")
            });

        });
    </script>
</head>

<body>
{% include '_navbar.html' %}
<br>

<!--
<button class="collapsible" onclick="toggle_collapse">Show Relays</button>
-->
<br>
    <h2>Overrides</h2>
<br>

<div style="overflow-x:auto;">
    <table class="relays_table" id="relays_table">
        <tr>
            <th><h3>Relaisname</h3></th>
        </tr>
        <tr>
            <th><h3>Auto</h3></th>
            {% for relay in relays %}
                {% if not relay.hidden or extended_relays %}
                    {% include '_relay.html' %}
                {% endif %}
            {% endfor %}
        </tr>
    </table>
</div>

<br>
<br>

<br>
    <h2>Brain activity</h2>
<br>
<div id="serial_log" class="log"></div>

<br>
<br>

<div id="Brains" class="control_section">
    <br><h2>Brain Restarts</h2>
    {% for brain in brains %}
        {% include '_brain.html' %}
    {% endfor %}
</div>


<br>
<br>
    <h2>Debug: </h2>
<br>
<br>
<div id="debug_log" class="log" >This is the debug_log</div>


</body>
</html>